In [2]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv('payment_details.csv')

In [4]:
df1

,P_ID,U_ID,APPLY_DATE,P_A,P_P,P_R,P_DD,P_AD,P_M,ON_TIME,LATE
0,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014/10/29,2014/11/4,3000,0,1
1,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015/1/29,2015/9/24,3000,0,1
2,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015/2/28,2015/9/24,3000,0,1
3,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015/3/29,2015/9/24,3000,0,1
4,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014/11/29,2014/12/27,3000,0,1
5,NBUR5RXsKQ+D0THaaPMk/w==,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014/12/29,2015/9/24,3000,0,1
6,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014/10/30,2014/11/13,3000,0,1
7,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014/11/30,2014/11/30,3000,0,1
8,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014/12/30,2014/12/31,3000,0,1
9,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015/1/30,2015/1/27,3000,1,0
10,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015/2/28,2015/3/8,3000,0,1
11,x4KNzhhKYPa4r7sW9IV9Aw==,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015/3/30,2015/3/30,3000,0,1
12,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014/10/30,2014/11/2,3000,0,1
13,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014/11/30,2014/12/2,3000,0,1
14,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015/2/28,2015/5/17,3000,0,1
15,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015/3/30,2015/6/4,3000,0,1
16,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015/1/30,2015/5/17,3000,0,1
17,HHWdv2olm6sn1Yh07vYMuA==,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014/12/30,2014/12/26,3000,1,0
18,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014/10/30,2014/10/28,3000,1,0
19,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014/11/30,2014/11/26,3000,1,0
20,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014/12/30,2014/12/28,3000,1,0
21,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015/2/28,2015/2/28,3000,0,1
22,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015/1/30,2015/1/29,3000,1,0
23,3dHMGJnwibu7URdfPdg00g==,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015/3/30,2015/2/28,3000,1,0
24,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014/10/30,2014/11/14,3000,0,1
25,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014/11/30,2014/12/31,3000,0,1
26,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015/2/28,2015/6/3,3000,0,1
27,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015/3/30,NaN,3000,0,1
28,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014/12/30,2014/12/31,3000,0,1
29,beJqI4PKxC7F1QnNKlzLYQ==,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015/1/30,2015/5/21,3000,0,1
...,...,...,...,...,...,...,...,...,...,...,...
75320,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014/10/30,2014/10/30,3000,0,1
75321,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014/11/30,2014/11/30,3000,0,1
75322,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014/12/30,2015/1/31,3000,0,1
75323,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015/2/28,2015/3/28,3000,0,1
75324,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015/1/30,2015/2/28,3000,0,1
75325,L3LqpFnT72QXnlRl08Ny/A==,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015/3/30,2015/3/28,3000,1,0
75326,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014/10/30,2014/10/30,3000,0,1
75327,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014/11/30,2014/11/30,3000,0,1
75328,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015/1/30,2015/2/21,3000,0,1
75329,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015/2/28,NaN,3000,0,1
75330,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015/3/30,NaN,3000,0,1
75331,wTCB6DQhA37g2MipSRN4Kg==,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014/12/30,2015/1/7,3000,0,1
75332,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014/10/30,2014/10/27,3000,1,0
75333,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014/11/30,2014/11/27,3000,1,0
75334,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014/12/30,2014/12/30,3000,0,1
75335,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015/1/30,2015/1/30,3000,0,1
75336,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015/3/30,2015/3/19,3000,1,0
75337,wQ26r/M6gWselnQ7r95c7A==,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015/2/28,2015/2/28,3000,0,1
75338,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014/10/30,2014/10/30,3000,0,1
75339,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014/11/30,2014/11/30,3000,0,1
75340,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014/12/30,2014/12/30,3000,0,1
75341,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015/2/28,2015/3/2,3000,0,1
75342,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015/3/30,2015/3/28,3000,1,0
75343,aPFbCX2vHz4dcO3iW9fpVg==,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015/1/30,2015/1/29,3000,1,0
75344,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014/11/30,2014/12/5,3000,0,1
75345,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014/12/30,2015/1/27,3000,0,1
75346,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015/2/28,2015/3/29,3000,0,1
75347,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015/3/30,2015/5/4,3000,0,1
75348,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014/10/30,2014/10/30,3000,0,1
75349,/+CZ3xwX6Y7HF0jKRJatPQ==,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015/1/30,2015/2/26,3000,0,1

In [42]:
df1['P_DD']=pd.to_datetime(df1['P_DD'])
df1['P_AD']=pd.to_datetime(df1['P_AD'])

In [44]:
df1.dtypes

U_ID                  object
APPLY_DATE            object
P_A                    int64
P_P                    int64
P_R                    int64
P_DD          datetime64[ns]
P_AD          datetime64[ns]
P_M                    int64
ON_TIME                int64
LATE                   int64
MAX_P_AD      datetime64[ns]
dtype: object

In [43]:
df1['MAX_P_AD']=df1.groupby(['U_ID'])['P_AD'].transform(max)

In [45]:
df1

,U_ID,APPLY_DATE,P_A,P_P,P_R,P_DD,P_AD,P_M,ON_TIME,LATE,MAX_P_AD
0,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014-10-29,2014-11-04,3000,0,1,2015-09-24
1,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-01-29,2015-09-24,3000,0,1,2015-09-24
2,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-02-28,2015-09-24,3000,0,1,2015-09-24
3,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-03-29,2015-09-24,3000,0,1,2015-09-24
4,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014-11-29,2014-12-27,3000,0,1,2015-09-24
5,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014-12-29,2015-09-24,3000,0,1,2015-09-24
6,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014-10-30,2014-11-13,3000,0,1,2015-03-30
7,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014-11-30,2014-11-30,3000,0,1,2015-03-30
8,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2014-12-30,2014-12-31,3000,0,1,2015-03-30
9,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015-01-30,2015-01-27,3000,1,0,2015-03-30
10,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015-02-28,2015-03-08,3000,0,1,2015-03-30
11,MYf7oMnpzyJDHNK1m2k8tA==,2014/9/29,3000,6,18,2015-03-30,2015-03-30,3000,0,1,2015-03-30
12,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014-10-30,2014-11-02,3000,0,1,2015-06-04
13,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014-11-30,2014-12-02,3000,0,1,2015-06-04
14,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015-02-28,2015-05-17,3000,0,1,2015-06-04
15,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015-03-30,2015-06-04,3000,0,1,2015-06-04
16,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2015-01-30,2015-05-17,3000,0,1,2015-06-04
17,/Z7OsR/36Kgc/OAAB+L5fA==,2014/9/30,3000,6,18,2014-12-30,2014-12-26,3000,1,0,2015-06-04
18,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014-10-30,2014-10-28,3000,1,0,2015-02-28
19,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014-11-30,2014-11-26,3000,1,0,2015-02-28
20,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2014-12-30,2014-12-28,3000,1,0,2015-02-28
21,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015-02-28,2015-02-28,3000,0,1,2015-02-28
22,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015-01-30,2015-01-29,3000,1,0,2015-02-28
23,G71Qf2kf+Odp32WDkAmnNA==,2014/9/29,3000,6,18,2015-03-30,2015-02-28,3000,1,0,2015-02-28
24,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014-10-30,2014-11-14,3000,0,1,2015-06-03
25,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014-11-30,2014-12-31,3000,0,1,2015-06-03
26,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015-02-28,2015-06-03,3000,0,1,2015-06-03
27,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015-03-30,NaT,3000,0,1,2015-06-03
28,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2014-12-30,2014-12-31,3000,0,1,2015-06-03
29,sHTpPx3J1qhheu25mo25NQ==,2014/9/30,3000,6,18,2015-01-30,2015-05-21,3000,0,1,2015-06-03
...,...,...,...,...,...,...,...,...,...,...,...
75320,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014-10-30,2014-10-30,3000,0,1,2015-03-28
75321,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014-11-30,2014-11-30,3000,0,1,2015-03-28
75322,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2014-12-30,2015-01-31,3000,0,1,2015-03-28
75323,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015-02-28,2015-03-28,3000,0,1,2015-03-28
75324,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015-01-30,2015-02-28,3000,0,1,2015-03-28
75325,LnD0QU8MIf/qgVqwffuSIg==,2014/9/30,3000,6,17,2015-03-30,2015-03-28,3000,1,0,2015-03-28
75326,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014-10-30,2014-10-30,3000,0,1,2015-02-21
75327,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014-11-30,2014-11-30,3000,0,1,2015-02-21
75328,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015-01-30,2015-02-21,3000,0,1,2015-02-21
75329,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015-02-28,NaT,3000,0,1,2015-02-21
75330,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2015-03-30,NaT,3000,0,1,2015-02-21
75331,Z82NbN3Z9XaU290+5zrEvQ==,2014/9/30,3000,6,17,2014-12-30,2015-01-07,3000,0,1,2015-02-21
75332,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014-10-30,2014-10-27,3000,1,0,2015-03-19
75333,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014-11-30,2014-11-27,3000,1,0,2015-03-19
75334,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2014-12-30,2014-12-30,3000,0,1,2015-03-19
75335,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015-01-30,2015-01-30,3000,0,1,2015-03-19
75336,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015-03-30,2015-03-19,3000,1,0,2015-03-19
75337,mlDiJtyHucQlqRcBashNrA==,2014/9/30,3000,6,18,2015-02-28,2015-02-28,3000,0,1,2015-03-19
75338,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014-10-30,2014-10-30,3000,0,1,2015-03-28
75339,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014-11-30,2014-11-30,3000,0,1,2015-03-28
75340,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2014-12-30,2014-12-30,3000,0,1,2015-03-28
75341,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015-02-28,2015-03-02,3000,0,1,2015-03-28
75342,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015-03-30,2015-03-28,3000,1,0,2015-03-28
75343,i5gq74kkRGrjCaPRBfUzOw==,2014/9/30,3000,6,18,2015-01-30,2015-01-29,3000,1,0,2015-03-28
75344,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014-11-30,2014-12-05,3000,0,1,2015-05-04
75345,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014-12-30,2015-01-27,3000,0,1,2015-05-04
75346,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015-02-28,2015-03-29,3000,0,1,2015-05-04
75347,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015-03-30,2015-05-04,3000,0,1,2015-05-04
75348,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2014-10-30,2014-10-30,3000,0,1,2015-05-04
75349,QkE9+A8oWvk8LneHEw6xag==,2014/9/30,3000,6,17,2015-01-30,2015-02-26,3000,0,1,2015-05-04

In [7]:
ck=pd.read_csv('ck.csv')

In [8]:
ck.head()

                       U_ID        CK_D    CK_MY
0  oiCJYC4SXLbSsVFMjKAfmw==   2014/12/1  2014-12
1  aU96xQStxYnFQSB+rqnqxw==   2014/12/3  2014-12
2  5rbzAs4LKymnS5PalzoAiw==  2014/12/11  2014-12
3  dZ9H6u0W6+BM6ztH6T5RSQ==  2014/12/11  2014-12
4  rxg4rlI2zR+OQ+nlx7r8pQ==  2014/12/11  2014-12

In [46]:
ck['CK_D']=pd.to_datetime(ck['CK_D'])

In [47]:
ck['MAX_CK_D']=ck.groupby(['U_ID'])['CK_D'].transform(max)

In [48]:
ck.head()

                       U_ID       CK_D    CK_MY   MAX_CK_D
0  oiCJYC4SXLbSsVFMjKAfmw== 2014-12-01  2014-12 2014-12-01
1  aU96xQStxYnFQSB+rqnqxw== 2014-12-03  2014-12 2015-12-31
2  5rbzAs4LKymnS5PalzoAiw== 2014-12-11  2014-12 2015-10-13
3  dZ9H6u0W6+BM6ztH6T5RSQ== 2014-12-11  2014-12 2015-12-13
4  rxg4rlI2zR+OQ+nlx7r8pQ== 2014-12-11  2014-12 2014-12-11

In [49]:
df1=df1.drop('P_ID',axis=1)

ValueError: labels ['P_ID'] not contained in axis

In [50]:
df1.head()

,U_ID,APPLY_DATE,P_A,P_P,P_R,P_DD,P_AD,P_M,ON_TIME,LATE,MAX_P_AD
0,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014-10-29,2014-11-04,3000,0,1,2015-09-24
1,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-01-29,2015-09-24,3000,0,1,2015-09-24
2,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-02-28,2015-09-24,3000,0,1,2015-09-24
3,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2015-03-29,2015-09-24,3000,0,1,2015-09-24
4,za1hUkh7Mdmn4OOuu1gdag==,2014/9/28,3000,6,18,2014-11-29,2014-12-27,3000,0,1,2015-09-24

In [51]:
ck2=ck.loc[:,['U_ID','MAX_CK_D']]

In [52]:
ck2.count()

U_ID        58883
MAX_CK_D    58883
dtype: int64

In [53]:
df2=pd.merge(df1, ck2, how='left', on=['U_ID'])

In [57]:
df2['F_R']=df2.groupby(['U_ID'])['P_DD'].transform(min)

In [58]:
df2.dtypes

U_ID                  object
APPLY_DATE            object
P_A                    int64
P_P                    int64
P_R                    int64
P_DD          datetime64[ns]
P_AD          datetime64[ns]
P_M                    int64
ON_TIME                int64
LATE                   int64
MAX_P_AD      datetime64[ns]
MAX_CK_D      datetime64[ns]
F_R           datetime64[ns]
dtype: object

In [60]:
df3=df2.drop_duplicates()

In [62]:
df3.count()

U_ID          75350
APPLY_DATE    75350
P_A           75350
P_P           75350
P_R           75350
P_DD          75350
P_AD          65663
P_M           75350
ON_TIME       75350
LATE          75350
MAX_P_AD      75350
MAX_CK_D      30113
F_R           75350
dtype: int64

In [63]:
df3['T']=df3[['MAX_P_AD','MAX_CK_D']].apply(max, axis=1)

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [67]:
df3.dtypes

U_ID                  object
APPLY_DATE            object
P_A                    int64
P_P                    int64
P_R                    int64
P_DD          datetime64[ns]
P_AD          datetime64[ns]
P_M                    int64
ON_TIME                int64
LATE                   int64
MAX_P_AD      datetime64[ns]
MAX_CK_D      datetime64[ns]
F_R           datetime64[ns]
T             datetime64[ns]
dtype: object

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [110]:
df3.to_csv('with_t.csv')

In [108]:
df3['GAP']/np.timedelta64(1,'M')

0         10.842112
6         10.842112
12        10.842112
18        10.842112
24        10.842112
30        10.842112
36         4.961087
37         4.961087
38         4.961087
39         4.961087
40         4.961087
41         4.961087
42         7.129510
44         7.129510
46         7.129510
48         7.129510
50         7.129510
52         7.129510
54         3.975441
55         3.975441
56         3.975441
57         3.975441
58         3.975441
59         3.975441
60        14.653278
68        14.653278
76        14.653278
84        14.653278
92        14.653278
100       14.653278
            ...
370000     4.895378
370001     4.895378
370002     4.895378
370003     4.895378
370004     4.895378
370005     4.895378
370006    14.653278
370012    14.653278
370018    14.653278
370024    14.653278
370030    14.653278
370036    14.653278
370042     4.599684
370043     4.599684
370044     4.599684
370045     4.599684
370046     4.599684
370047     4.599684
370048     4.895378
370049     4.895378
370050     4.895378
370051     4.895378
370052     4.895378
370053     4.895378
370054     6.111008
370055     6.111008
370056     6.111008
370057     6.111008
370058     6.111008
370059     6.111008
Name: GAP, dtype: float64

In [91]:
df3['F_R'].dt.date
df3['T'].dt.date

0         2015-09-24
6         2015-09-24
12        2015-09-24
18        2015-09-24
24        2015-09-24
30        2015-09-24
36        2015-03-30
37        2015-03-30
38        2015-03-30
39        2015-03-30
40        2015-03-30
41        2015-03-30
42        2015-06-04
44        2015-06-04
46        2015-06-04
48        2015-06-04
50        2015-06-04
52        2015-06-04
54        2015-02-28
55        2015-02-28
56        2015-02-28
57        2015-02-28
58        2015-02-28
59        2015-02-28
60        2016-01-19
68        2016-01-19
76        2016-01-19
84        2016-01-19
92        2016-01-19
100       2016-01-19
             ...
370000    2015-03-28
370001    2015-03-28
370002    2015-03-28
370003    2015-03-28
370004    2015-03-28
370005    2015-03-28
370006    2016-01-19
370012    2016-01-19
370018    2016-01-19
370024    2016-01-19
370030    2016-01-19
370036    2016-01-19
370042    2015-03-19
370043    2015-03-19
370044    2015-03-19
370045    2015-03-19
370046    2015-03-19
370047    2015-03-19
370048    2015-03-28
370049    2015-03-28
370050    2015-03-28
370051    2015-03-28
370052    2015-03-28
370053    2015-03-28
370054    2015-05-04
370055    2015-05-04
370056    2015-05-04
370057    2015-05-04
370058    2015-05-04
370059    2015-05-04
dtype: object

In [107]:
df3['F_R'].dt.date

0         2014-10-29
6         2014-10-29
12        2014-10-29
18        2014-10-29
24        2014-10-29
30        2014-10-29
36        2014-10-30
37        2014-10-30
38        2014-10-30
39        2014-10-30
40        2014-10-30
41        2014-10-30
42        2014-10-30
44        2014-10-30
46        2014-10-30
48        2014-10-30
50        2014-10-30
52        2014-10-30
54        2014-10-30
55        2014-10-30
56        2014-10-30
57        2014-10-30
58        2014-10-30
59        2014-10-30
60        2014-10-30
68        2014-10-30
76        2014-10-30
84        2014-10-30
92        2014-10-30
100       2014-10-30
             ...
370000    2014-10-30
370001    2014-10-30
370002    2014-10-30
370003    2014-10-30
370004    2014-10-30
370005    2014-10-30
370006    2014-10-30
370012    2014-10-30
370018    2014-10-30
370024    2014-10-30
370030    2014-10-30
370036    2014-10-30
370042    2014-10-30
370043    2014-10-30
370044    2014-10-30
370045    2014-10-30
370046    2014-10-30
370047    2014-10-30
370048    2014-10-30
370049    2014-10-30
370050    2014-10-30
370051    2014-10-30
370052    2014-10-30
370053    2014-10-30
370054    2014-10-30
370055    2014-10-30
370056    2014-10-30
370057    2014-10-30
370058    2014-10-30
370059    2014-10-30
dtype: object

In [105]:
md.monthmod(datetime.date(df3['F_R'].dt.date), datetime.date(2009, 4, 2))[0]

TypeError: cannot convert the series to <type 'int'>